

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button, input, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
	vertical-align:top;
	font-style:normal;
	text-decoration:none;
	background:none;
	font-family:"Noto Sans KR", '맑은고딕', sans-serif; font-weight:500; font-size:16px; color:#222; line-height:24px; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
.tableWrap {
	overflow:hidden;
	border:1px solid #E6E6E6;
	border-radius:10px;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	thead {
		tr {
			th {
				height:56px;
				padding-left:15px;
				color:#666;
				text-align:left;
				vertical-align:middle;
				border-bottom:1px solid #E6E6E6;
				background:#F4F4F4;
			}
		}
	}
	tbody {
		tr {
			td {
				height:56px;
				padding-left:15px;
				text-align:left;
				vertical-align:middle;
				border-top:1px solid #E6E6E6;
				border-bottom:1px solid #E6E6E6;
			}
			&:nth-child(even) td {
				background:#F9F9F9;
			}
			&:last-child td {
				border-bottom:none;
			}
		}
	}
}
button {
	cursor:pointer;
}

select {
	position:relative;
	padding:0 16px;
	border:1px solid #dbdbdb;
	border-radius:8px;
	appearance:none;
}

select {
	appearance: none;
	@supports (appearance: base-select) {
		&,
		&::picker(select) {
			appearance:base-select;
		}
	}
}

select {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0 16px;
	border-radius:8px;
	border:1px solid #dbdbdb;
	cursor:pointer;

	@supports (appearance: base-select) {
		padding-inline:20px;
		background-image:none;
		img {
			width:30px;
			line-height:1;
		}
		&::picker-icon {
			content:'';
			width:20px;
			height:20px;
			background:url(../images/icon_picker.png) no-repeat 50% 50%;
			transition:rotate 0.2s ease-out;
		}
		&:open::picker-icon {
			rotate: 180deg;
		}
		&::picker(select) {
			padding:0;
			margin-top:5px;
			border:1px solid #dbdbdb;
			border-radius:8px;
			opacity:0;
			height:0;
			overflow:clip;
			transition:height 0.5s ease-out, opacity 0.5s ease-out, overlay 0.5s, display 0.5s;
			transition-behavior:allow-discrete;
		}
		&:open::picker(select) {
			opacity:1;
			height:calc-size(auto, size);
			overflow:auto;
			@starting-style {
				opacity:0;
				height:0;
			}
		}
		option {
			cursor:pointer;
			&:where(:hover, :focus, :active) {
				background:#F6F3EB;
				font-weight:600;
			}
			&:checked {
				background:#F6F3EB;
				font-weight:600;
			}
			&::checkmark {
				display:none;
			}
		}
		selectedcontent {
			display:flex;
			align-items:center;
		}
	}
}

input[type=radio].round {
	position:absolute;
	z-index:-1;
	visibility:hidden;
	+ label {
		height:40px;
		padding:0 12px;
		line-height:38px;
		border:1px solid #dbdbdb;
		border-radius:20px;
		cursor:pointer;
		transition:.5s;
	}
	&:checked + label {
		color:#fff;
		background:#222;
	}
}

input[type=text] {
	height:56px;
	padding:0 16px;
	line-height:54px;
	border:1px solid #dbdbdb;
	border-radius:8px;
}

body {
	font-family:"Noto Sans KR", '맑은고딕', sans-serif; font-weight:500; font-size:16px; color:#222; line-height:24px;
}

.blind {
	display:none;
}

#wrap {
	position:relative;
	overflow:hidden;
	width:1920px;
	margin:0 auto;
}

/**************************** header ****************************/
header {
	> div {
		display:flex;
		justify-content:space-between;
		align-items:center;
		padding:40px 60px;
		nav {
			overflow:hidden;
			ul {
				display:flex;
				justify-content:space-between;
				align-items:center;
				gap:0 120px;
				li a {
					display:block;
					height:60px;
					color:#222;
					font-size:20px;
					font-weight:500;
					line-height:60px;
					text-align:center;
				}
			}
		}
	}
	div > ul {
		display:flex;
		justify-content:space-between;
		align-items:center;
		gap:0 24px;
		li a {
			display:block;
			width:24px;
			height:24px;
			text-indent:-9999em;
			&.login {
				background:url(../images/icon_login.png) no-repeat 50% 50%;
			}
			&.cart {
				position:relative;
				background:url(../images/icon_cart.png) no-repeat 50% 50%;
				&:before {
					content:'';
					display:block;
					position:absolute;
					top:5px;
					left:-13px;
					width:1px;
					height:16px;
					background:#ececec;
				}
			}
		}
	}
	.info {
		display:flex;
		justify-content:space-between;
		align-items:center;
		padding:48px 160px;
		background:#FFFBF2;
		p {
			font-size:24px;
			line-height:26px;
			a {
				font-size:24px;
				color:#A8843C;
				text-decoration:underline;
			}
		}
		> div {
			position:relative;
			display:flex;
			justify-content:space-between;
			align-items:center;
			gap:32px;
			div:first-child {
				> button {
					position:relative;
					display:block;
					padding-right:16px;
					font-size:15px;
					color:#A8843C;
					&:after {
						content:'';
						position:absolute;
						top:45%;
						right:0;
						display:block;
						width:7px;
						height:7px;
						border-left:1px solid #A8843C;
						border-bottom:1px solid #A8843C;
						transform:translateY(-50%) rotate(-45deg);
					}
				}
				ul {
					position:absolute;
					top:100%;
					left:0;
					/*display:none;*/
					width:100%;
					padding:16px 0;
					border:1px solid #E3DAC8;
					border-radius:4px;
					background:#fff;
				}
			}
			div:last-child {
				button {
					position:relative;
					display:block;
					height:40px;
					padding:0 30px 0 37px;
					font-size:18px;
					color:#222;
					border:1px solid #E3DAC8;
					border-radius:20px;
					background:#FDF7E8;
					&:before {
						content:'';
						position:absolute;
						top:50%;
						left:9px;
						transform:translateY(-50%);
						display:block;
						width:24px;
						height:24px;
						background:url(../images/icon_spot.png) no-repeat 50% 50%;
					}
					&:after {
						content:'';
						position:absolute;
						top:45%;
						right:13px;
						display:block;
						width:7px;
						height:7px;
						border-left:1px solid #A8843C;
						border-bottom:1px solid #A8843C;
						transform:translateY(-50%) rotate(-45deg);
					}
				}
				ul {
					position:absolute;
					top:100%;
					left:0;
					/*display:none;*/
					width:100%;
					padding:16px 0;
					border:1px solid #E3DAC8;
					border-radius:4px;
					background:#fff;
				}
			}
		}
	}
}

/**************************** main ****************************/
main {
	padding:0 160px 160px;
	h2 {
		margin-top:64px;
		font-size:40px;
		line-height:40px;
	}
}

/**************************** footer ****************************/
footer {
	background:#232323;
	> div {
		width:1280px;
		padding:50px 0 56px;
		margin:0 auto;
		background:url(../images/footer_logo.png) no-repeat 0 50px;
		> div {
			display:flex;
			justify-content:space-between;
			padding-left:200px;
			margin-bottom:50px;
			> ul {
				display:flex;
				flex-wrap:wrap;
				align-content:flex-start;
				gap:0 20px;
				li:nth-child(7) {
					height:0px;
					flex-basis:100%;
					a {
						color:#949494;
						font-size:14px;
						&.teacher {
							color:#A38348;
						}
						&.red {
							color:#f22c2d;
						}
					}
				}
			}
			.family {
				position:relative;
				height:25px;
				margin-right:50px;
				border-bottom:1px solid #828282;
				button {
					position:relative;
					width:160px;
					height:20px;
					color:#999;
					font-size: 12px;
					text-align:left;
					line-height:12px;
					&:after {
						content:'';
						position:absolute;
						top:7px;
						right:1px;
						width:5px;
						height:5px;
						border-right:1px solid #828282;
						border-top:1px solid #828282;
						transform:rotate(-45deg);
					}
					&.on + ul {
						border:1px solid #828282;
						height:866px;
					}
				}
				ul {
					position:absolute;
					bottom:31px;
					left:0;
					width:100%;
					border:none;
					color:#949494;
					font-size:12px;
					background:#232323;
					text-align:left;
					height:0;
					overflow:hidden;
					transition:height .5s;
					li {
						a {
							display:block;
							color:#999;
							padding:10px 20px;
							box-sizing:border-box;
							transition:all 0.2s;
							&:hover {
								color:#fff;
								background:#323232;
								transition:all 0.2s;
							}
						}
					}
				}
			}
			.sns {
				display:flex;
				justify-content:space-between;
				gap:0 10px;
				a {
					width:16px;
					height:16px;
					text-indent:-9999em;
				}
				.insta {
					background:url(../images/icon_insta.png) no-repeat 50% 50%;
				}
				.youtube {
					background:url(../images/icon_youtube.png) no-repeat 50% 50%;
				}
				.sbot {
					background:url(../images/icon_sbot.png) no-repeat 50% 50%;
				}
			}
		}
		> ul {
			display:flex; 
			flex-wrap:wrap;
			gap:0 24px;
			padding-right:600px;
			padding-top:20px;
			line-height:20px;
			border-top:1px solid rgba(202, 200, 199, 0.1);
			li {
				position:relative;
				color:#8a8a8a;
				font-size:12px;
				&:before {
					content:'';
					position:absolute;
					top:6px;
					left:-12px;
					width:1px;
					height:10px;
					background:#8a8a8a;
				}
				&:nth-child(3n+1):before {
					display:none;
				}
			}
		}
	}
}

/**************************** location ****************************/
.location {
	display:flex;
	align-items:center;
	margin-top:24px;
	li {
		color:#9A958C;
		font-size:12px;
		&:after {
			content:'/';
			padding:0 5px;
		}
		&:last-child {
			color:#222;
			font-weight:700;
			&:after {
				display:none;
			}
		}
	}
}

/**************************** tap ****************************/
.tap {
	display:flex;
	justify-content:flex-start;
	align-items:center;
	border-bottom:2px solid #F6F3EB;
	button {
		position:relative;
		height:54px;
		padding:0 40px;
		color:#999;
		font-size:18px;
		line-height:54px;
		transition:.5s;
		&:after {
			content:'';
			position:absolute;
			bottom:-2px;
			left:0;
			width:100%;
			height:2px;
			border-bottom:2px solid transparent;
			transition:.5s;
		}
		&.on,
		&:hover {
			color:#222;
		}
		&.on:after,
		&:hover:after {
			border-bottom:2px solid #A38348;
		}
	}
}

/**************************** swiper ****************************/
.swiper {
	position:relative;
	margin:0 auto;
}
.swiper-wrapper {
	display:flex;
}
.swiper-slide {
	position:relative;
	width:100%;
	height:100vh;
}

/**************************** starScore ****************************/
.starScore {
	position:relative;
	display:block;
	width:100px;
	height:20px;
	img {
		position:absolute;
		top:0;
		left:0;
		z-index:2;
	}
	&:after {
		content:'';
		position:absolute;
		top:0;
		left:0;
		z-index:1;
		width:0;
		height:20px;
		background:#FF0000;
	}
	&[data='20']:after {
		width:20%;
	}
	&[data='40']:after {
		width:40%;
	}
	&[data='60']:after {
		width:60%;
	}
	&[data='80']:after {
		width:80%;
	}
	&[data='100']:after {
		width:100%;
	}
}

/**************************** paging ****************************/
.paging {
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:40px;
	a {
		width:24px;
		height:24px;
		text-indent:-9999em;
		background:url(../images/icon_picker.png) no-repeat 50% 50%;
		&:first-child {
			margin-right:40px;
			transform:rotate(90deg);
		}
		&:last-child {
			margin-left:40px;
			transform:rotate(-90deg);
		}
	}
	span {
		display:flex;
		align-items:center;
		width:32px;
		height:50px;
		text-align:center;
		line-height:50px;
		border-radius:50%;
		em {
			padding-left:5px;
		}
	}
	input[type=text] {
		width:70px;
		height:50px;
		margin:0 16px;
		text-align:center;
		line-height:48px;
		font-size:16px;
		font-weight:400;
		border:1px solid #DBDBDB;
		border-radius:8px;
	}
}