

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button, input, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
	vertical-align:top;
	font-style:normal;
	text-decoration:none;
	background:none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
.tableWrap {
	overflow:hidden;
	border:1px solid #E6E6E6;
	border-radius:10px;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	thead {
		tr {
			th {
				height:56px;
				padding-left:15px;
				color:#666;
				text-align:left;
				vertical-align:middle;
				border-bottom:1px solid #E6E6E6;
				background:#F4F4F4;
			}
		}
	}
	tbody {
		tr {
			td {
				height:56px;
				padding-left:15px;
				text-align:left;
				vertical-align:middle;
				border-top:1px solid #E6E6E6;
				border-bottom:1px solid #E6E6E6;
			}
			&:nth-child(even) td {
				background:#F9F9F9;
			}
			&:last-child td {
				border-bottom:none;
			}
		}
	}
}
button {
	cursor:pointer;
}

select {
	position:relative;
	padding:0 16px;
	border:1px solid #dbdbdb;
	border-radius:8px;
	appearance:none;
}

select {
	appearance: none;
	@supports (appearance: base-select) {
		&,
		&::picker(select) {
			appearance:base-select;
		}
	}
}

select {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0 16px;
	border-radius:8px;
	border:1px solid #dbdbdb;
	cursor:pointer;

	@supports (appearance: base-select) {
		padding-inline:20px;
		background-image:none;
		img {
			width:30px;
			line-height:1;
		}
		&::picker-icon {
			content:'';
			width:20px;
			height:20px;
			background:url(../images/icon_picker.png) no-repeat 50% 50%;
			transition:rotate 0.2s ease-out;
		}
		&:open::picker-icon {
			rotate: 180deg;
		}
		&::picker(select) {
			padding:0;
			margin-top:5px;
			border:1px solid #dbdbdb;
			border-radius:8px;
			opacity:0;
			height:0;
			overflow:clip;
			transition:height 0.5s ease-out, opacity 0.5s ease-out, overlay 0.5s, display 0.5s;
			transition-behavior:allow-discrete;
		}
		&:open::picker(select) {
			opacity:1;
			height:calc-size(auto, size);
			overflow:auto;
			@starting-style {
				opacity:0;
				height:0;
			}
		}
		option {
			cursor:pointer;
			&:where(:hover, :focus, :active) {
				background:#F6F3EB;
				font-weight:600;
			}
			&:checked {
				background:#F6F3EB;
				font-weight:600;
			}
			&::checkmark {
				display:none;
			}
		}
		selectedcontent {
			display:flex;
			align-items:center;
		}
	}
}

body, a {
	font-family:"Noto Sans KR", '맑은고딕', sans-serif; font-weight:400; font-size:16px; color:#222; line-height:24px;
}

.blind {
	display:none;
}

#wrap {
	position:relative;
	overflow:hidden;
	width:100%;
	padding-top:100vh;
}

/**************************** header ****************************/
header {
	position:absolute;
	display:flex;
	justify-content:space-between;
	align-items:center;
	top:0;
	left:50%;
	transform:translateX(-50%);
	z-index:100;
	width:100vw;
	max-width:2560px;
	padding:100px 60px 0 60px;
	> a {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:60px;
		font-size:16px;
		color:#D9D9D9;
		text-align:center;
		line-height:60px;
		background:#353535;
	}
	nav {
		width:710px;
		ul {
			display:flex;
			justify-content:space-between;
			align-items:center;
			width:710px;
			li {
				a {
					display:block;
					font-size:22px;
					color:#fff;
				}
			}
		}
	}
	> ul {
		display:flex;
		justify-content:space-around;
		align-items:center;
		.login {
			display:block;
			width:24px;
			height:24px;
			margin-right:20px;
			text-indent:-9999px;
			background:url(../images/btn_login.png) no-repeat 50% 50%;
		}
		.cart {
			display:block;
			width:19px;
			height:19px;
			text-indent:-9999px;
			background:url(../images/btn_bag.png) no-repeat 50% 50%;
		}
	}
	> div {
		position:absolute;
		top:785px;
		left:50%;
		transform:translateX(-50%);
		fieldset {
			display:flex;
			justify-content:space-between;
			align-items:center;
			width:900px;
			height:80px;
			padding:0 40px;
			border:1px solid #E3DAC8;
			border-radius:40px;
			background:rgba(0, 0, 0, 0.53);
			input[type=text] {
				width:760px;
				height:40px;
				font-size:24px;
				color:#fff;
				background:none;
				outline:none;
				&::placeholder {
					color:rgba(255, 255, 255, .5);
				}
			}
			button {
				width:26px;
				height:26px;
				text-indent:-9999px;
				background:url(../images/btn_serch.png) no-repeat 50% 50%;
			}
		}
		ul {
			display:flex;
			justify-content:space-around;
			align-items:center;
			margin-top:24px;
			a {
				display:block;
				height:42px;
				padding:0 16px;
				font-size:16px;
				line-height:40px;
				color:#fff;
				border:1px solid #5D574D;
				border-radius:21px;
				background:rgba(34, 34, 34, .5);
				&:before {
					content:'#';
				}
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/**************************** .swiper ****************************/
.swiper {
	position:absolute;
	top:0;
	left:50%;
	transform:translateX(-50%);
	overflow:hidden;
	width:100vw;
	max-width:2560px;
	height:100vh;
	margin:0 auto;
}
.swiper-wrapper {
	display:flex;
}
.swiper-slide {
	position:relative;
	width:100%;
	height:100vh;
}
.pagination_wrap {
	position:absolute;
	top:45%;
	left:60px;
	display:flex;
	align-items:center;
}
section .moments .pagination_wrap {
	top:auto;
	left:50%;
	bottom:80px;
	transform:translateX(-50%);
}
.pagination_wrap > ul {
	display:flex;
	align-items:center;
	gap:10px;
	margin-top:40px;
	gap:10px;
}
.pagination_wrap > ul li {
	display:flex;
	justify-content:space-between;
	align-items:center;
	gap:10px;
}
.pagination_wrap > ul li a {
	color:#a38348;
	font-size:12px;
}
.pagination_wrap > ul li.swiper-pagination-bullet-active a {
	color:#F22C2D;
}
.pagination_wrap > ul li div {
	position:absolute;
	left:-9999em;
	width:88px;
	height:4px;
	text-indent:-9999px;
	border-radius:2px;
	background:rgba(45, 45, 45, 0.3);
}
.pagination_wrap > ul li.swiper-pagination-bullet-active div {
	position:relative;
	left:0;
}
.pagination_wrap > ul li div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	width:var(--progress, 0%);
	height: 100%;
	border-radius: 2px;
	background: #F22C2E;
}
.pagination_wrap > ul li button {
	display:none;
	width:5px;
	height:7px;
	text-indent:-9999px;
	background:url(../images/btn_video.png) no-repeat 50% 50%;
	background-size:cover;
}
.pagination_wrap > ul li.swiper-pagination-bullet-active button {
	display:block;
}

/**************************** .video ****************************/
.video {
	position:relative;
	overflow:hidden;
	width:100vw;
	max-width:2560px;
	height:100vh;
	margin:0 auto;
	background-size:cover;
}
.video:after {
	content:'SCROLL';
	position:absolute;
	z-index:10;
	bottom:35px;
	left:50%;
	transform:translateX(-50%);
	padding-top:16px;
	color:#fff;
	font-size:16px;
	letter-spacing:20%;
	background:url(../images/icon_scroll.png) no-repeat 50% 0;
	animation: fadeIn 1s ease-in-out infinite alternate;
}
.video video {
	position:absolute;
	width:100%;
	height:100%;
	z-index:-1;
	object-fit:cover;
}
.video > div {
	position:absolute;
	padding:390px 0 0 60px;
	color:#fff;
}
.video > div dl dt {
	margin-bottom:20px;
	font-size:64px;
	line-height:64px;
}
.video > div dl dd {
	font-size:32px;
	line-height:44px;
}

/**************************** main .info ****************************/
main {
	position:relative;
	.info {
		background:#FFFBF2;
		> div {
			width:1920px;
			margin:0 auto;
			padding:48px 160px 80px;
			background:#FFFBF2;
			.welcome {
				position:relative;
				display:flex;
				justify-content:space-between;
				align-items:center;
				padding-bottom:48px;
				p {
					font-size:24px;
					line-height:26px;
					a {
						font-size:24px;
						color:#A8843C;
						text-decoration:underline;
					}
				}
				div {
					display:flex;
					justify-content:space-between;
					align-items:center;
					gap:32px;
					> button {
						position:relative;
						display:block;
						padding-right:16px;
						font-size:15px;
						color:#A8843C;
						&:after {
							content:'';
							position:absolute;
							top:45%;
							right:0;
							display:block;
							width:7px;
							height:7px;
							border-left:1px solid #A8843C;
							border-bottom:1px solid #A8843C;
							transform:translateY(-50%) rotate(-45deg);
						}
					}
					ul {
						position:absolute;
						top:100%;
						left:0;
						/*display:none;*/
						width:100%;
						padding:16px 0;
						border:1px solid #E3DAC8;
						border-radius:4px;
						background:#fff;
					}
				}
				select {
					display:flex;
					justify-content:space-between;
					align-items:center;
					height:38px;
					padding:0 9px 0 37px;
					border-radius:19px;
					border:1px solid #EEE6D8;
					background:#FFF7E5 url(../images/icon_spot.png) no-repeat 9px 50%;
					cursor:pointer;
					@supports (appearance:base-select) {
						img {
							width:30px;
							line-height:1;
						}
						&::picker-icon {
							content:'';
							width:16px;
							height:16px;
							background:url(../images/icon_picker.png) no-repeat 50% 50%;
							transition:rotate 0.2s ease-out;
						}
						&:open::picker-icon {
							rotate: 180deg;
						}
						&::picker(select) {
							padding:0;
							margin-top:5px;
							border:1px solid #EEE6D8;
							border-radius:19px;
							opacity:0;
							height:0;
							overflow:clip;
							text-indent:10px;
							transition:height 0.5s ease-out, opacity 0.5s ease-out, overlay 0.5s, display 0.5s;
							transition-behavior:allow-discrete;
						}
						&:open::picker(select) {
							opacity:1;
							height:calc-size(auto, size);
							overflow:hidden;
							@starting-style {
								opacity:0;
								height:0;
							}
						}
						option {
							height:38px;
							cursor:pointer;
							&:where(:hover, :focus, :active) {
								background:#FFF7E5;
								font-weight:600;
							}
							&:checked {
								background:#EEE6D8;
								font-weight:600;
							}
							&::checkmark {
								display:none;
							}
						}
						selectedcontent {
							display:flex;
							align-items:center;
						}
					}
				}
			}
			.myList {
				position:relative;
				h3 {
					font-size:40px;
					font-weight:600;
					line-height:60px;
					text-align:center;
				}
				.listWrap {
					display:flex;
					justify-content:space-between;
					align-items:center;
					gap:0 80px;
					margin-top:40px;
					.list {
						> div {
							display:flex;
							justify-content:space-between;
							align-items:center;
							gap:0 8px;
							dl {
								display:flex;
								flex-direction:column;
								justify-content:center;
								gap:10px 0;
								width:154px;
								height:98px;
								text-align:center;
								background:#EEE6D8;
								dt {
									color:#000;
								}
								dd {
									color:#A38348;
									font-size:32px;
									font-weight:700;
								}
							}
						}
						ul {
							margin-top:16px;
							li {
								padding:24px 0;
								border-bottom:1px solid #EEE6D8;
								dl {
									dt {
										font-size:16px;
									}
									dd {
										font-size:13px;
										color:#A38348;
										em {
											margin-left:4px;
											&:before {
												content:'ㆍ';
												margin-right:4px;
											}
										}
									}
								}
								a {
									position:relative;
									&:before {
										content:'';
										position:absolute;
										top:23px;
										right:0;
										width:4px;
										height:4px;
										border-top:1px solid #A8843C;
										border-right:1px solid #A8843C;
										transform:rotate(45deg);
									}
									&:after {
										content:'';
										position:absolute;
										top:25px;
										right:0;
										width:8px;
										height:1px;
										background:#A8843C;
									}
								}
							}
						}
						> a {
							position:relative;
							display:block;
							height:41px;
							padding-right:15px;
							margin-top:16px;
							font-size:14px;
							line-height:41px;
							text-align:right;
							&:before {
								content:'';
								position:absolute;
								top:18px;
								right:0;
								width:4px;
								height:4px;
								border-top:1px solid #564931;
								border-right:1px solid #564931;
								transform:rotate(45deg);
							}
							&:after {
								content:'';
								position:absolute;
								top:20px;
								right:0;
								width:8px;
								height:1px;
								background:#564931;
							}
						}
					}
					.blog {
						ul {
							width:880px;
							li {
								display:flex;
								justify-content:space-between;
								align-items:center;
								gap:0 24px;
								padding:8px 0;
								border-bottom:1px solid #EEE6D8;
								figure {
									overflow:hidden;
									width:135px;
									height:135px;
								}
								dl {
									dt {
										font-size:20px;
										font-weight:600;
									}
									dd {
										color:#A38348;
										font-size:13px;
										em {
											margin-left:4px;
											&:before {
												content:'ㆍ';
												margin-right:4px;
											}
										}
										&.tiny {
											font-size:10px;
										}
									}
								}
								strong {
									margin-left:auto;
									font-size:15px;
									font-weight:700;
								}
							}
						}
					}
				}
				.btns {
					position:absolute;
					top:25px;
					right:0;
					display:flex;
					flex-direction:column;
					justify-content:flex-start;
					align-items:flex-end;
					a {
						width:120px;
						height:48px;
						padding:0 14px 0 34px;
						margin-bottom:8px;
						font-size:12px;
						line-height:48px;
						border-radius:24px;
						box-shadow:3px 3px 3px rgba(100, 100, 100, .1);
						&:nth-child(1) {
							background:#FAF4E9 url(../images/icon_check01.png) no-repeat 14px 50%;
						}
						&:nth-child(2) {
							background:#FAF4E9 url(../images/icon_catalog.png) no-repeat 14px 50%;
						}
					}
					button {
						position:relative;
						overflow:hidden;
						width:60px;
						height:60px;
						text-indent:-9999em;
						border-radius:30px;
						box-shadow:3px 3px 3px rgba(100, 100, 100, .1);
						&.close {
							background:#F22C2E;
							&:before {
								content:'';
								position:absolute;
								top:32%;
								left:50%;
								width:1px;
								height:24px;
								background:#fff;
								transform:rotate(-45deg);
							}
							&:after {
								content:'';
								position:absolute;
								top:32%;
								left:50%;
								width:1px;
								height:24px;
								background:#fff;
								transform:rotate(45deg);
							}
						}
						&.top {
							margin-top:24px;
							background:#fff;
							&:before {
								content:'';
								position:absolute;
								top:19px;
								left:27px;
								width:6px;
								height:6px;
								border-top:1px solid #000;
								border-right:1px solid #000;
								transform:rotate(-45deg);
							}
							&:after {
								content:'';
								position:absolute;
								top:32%;
								left:30px;
								width:1px;
								height:24px;
								background:#000;
							}
						}
					}
				}
			}
		}
	}
}

/**************************** section .explore ****************************/
section .explore {
	position:relative;
	width:1920px;
	padding:240px 160px;
	margin:0 auto;
	h3 {
		margin-bottom:40px;
		font-size:72px;
		color:#000;
		font-weight:300;
		text-align:center;
		line-height:74px;
	}
	p {
		margin-bottom:80px;
		font-size:32px;
		color:#000;
		text-align:center;
		line-height:34px;
	}
	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2px;
		grid-auto-rows: 10px;
		li {
			margin: 0;
			display: grid;
			grid-template-rows: 1fr auto;
			margin-bottom: 2px;
			break-inside: avoid;
			a {
				grid-row: 1 / -1;
				grid-column: 1;
				color:white;
				display: flex;
				justify-content: center;
				align-items: center;
				background:#ddd;
			}
		}
	}
}

/**************************** section .banner ****************************/
.banner {
	position:relative;
	background:url(../images/sample_banner01.png) no-repeat 50% 50%;
	background-size:cover;
	a {
		position:relative;
		z-index:2;
		display:block;
		width:1920px;
		margin:0 auto;
	}
	&:after {
		content:'';
		position:absolute;
		top:0;
		left:0;
		z-index:1;
		width:100%;
		height:100%;
		backdrop-filter:blur(20px);
	}
}

/**************************** section .wine ****************************/
section .wine {
	position:relative;
	width:1920px;
	height:1403px;
	margin:0 auto;
	padding:240px 160px;
	background:url(../images/img_wine.png) no-repeat 100% 50%;
	h3 {
		margin-bottom:16px;
		font-size:24px;
		color:#A38348;
		font-weight:400;
		line-height:26px;
	}
	dl {
		margin-bottom:48px;
		dt {
			margin-bottom:30px;
			font-size:64px;
			color:#000;
			line-height:72px;
		}
		dd {
			font-size:32px;
			color:#000;
			font-weight:400;
			line-height:44px;
		}
	}
	a {
		position:relative;
		font-size:18px;
		color:#A38348;
		padding-right:20px;
		&:before {
			content:'';
			position:absolute;
			top:51%;
			right:0;
			width:15px;
			height:1px;
			background:#A38348;
		}
		&:after {
			content:'';
			position:absolute;
			top:36%;
			right:0;
			width:8px;
			height:8px;
			border-right:1px solid #A38348;
			border-bottom:1px solid #A38348;
			transform:rotate(-45deg);
		}
	}
}

/**************************** section .featured ****************************/
section .featured {
	padding:240px 0;
	background:#FFFBF2;
	h3 {
		width:1920px;
		margin:0 auto 40px auto;
		color:#222;
		font-size:72px;
		line-height:74px;
		text-align:center;
	}
	p {
		width:1920px;
		margin:0 auto 64px auto;
		margin-bottom:64px;
		color:#444;
		font-size:32px;
		line-height:34px;
		text-align:center;
	}
	ul {
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
		align-items:flex-start;
		gap:20px;
		width:1820px;
		margin:0 auto;
		li {
			display:flex;
			flex-direction:column;
			justify-content:space-between;
			width:520px;
			height:236px;
			padding:16px 24px;
			border:1px solid #EEE6D8;
			background:#fff;
			.flag {
				display:flex;
				align-items:center;
				strong {
					position:relative;
					padding-right:13px;
					font-size:14px;
					line-height:24px;
					&:before {
						content:'';
						position:absolute;
						top:50%;
						right:0;
						width:1px;
						height:12px;
						background:#E1DBD1;
						transform:translateY(-50%);
					}
					&.wellness {
						color:#689570;
					}
				}
				em {
					height:20px;
					padding:0 6px;
					margin-left:12px;
					color:#fff;
					font-size:10px;
					line-height:20px;
					background:#4E7256;
					border-radius:10px;
				}
				span {
					width:18px;
					height:18px;
					margin-left:auto;
					text-indent:-9999em;
					background:url(../images/icon_heart.png) no-repeat 50% 50%;
				}
			}
			dl {
				margin:16px 0;
				dt {
					margin-bottom:16px;
					color:#222;
					font-size:24px;
					line-height:29px;
				}
				dd {
					margin-top:4px;
					font-size:14px;
					line-height:19px;
				}
			}
			.choice {
				display:flex;
				justify-content:space-between;
				align-items:center;
				padding:21px 0 8px;
				margin-top:auto;
				border-top:1px solid #F6F3EB;
				strong {
					color:#222;
					font-size:18px;
					line-height:27px;
				}
				span {
					width:27px;
					height:27px;
					margin-left:auto;
					text-indent:-9999em;
					background:url(../images/btn_bag02.png) no-repeat 50% 50%;
				}
				a {
					position:relative;
					margin-left:20px;
					padding-right:18px;
					color:#F22C2D;
					font-size:16px;
					line-height:27px;
					&:before {
						content:'';
						position:absolute;
						top:14px;
						right:0;
						width:9px;
						height:1px;
						background:#F22C2D;
					}
					&:after {
						content:'';
						position:absolute;
						top:12px;
						right:0;
						width:4px;
						height:4px;
						border-right:1px solid #F22C2D;
						border-bottom:1px solid #F22C2D;
						transform:rotate(-45deg);
					}
				}
			}
		}
	}
	> a {
		position:relative;
		left:50%;
		transform:translateX(-50%);
		display:inline-block;
		margin-top:74px;
		padding-right:20px;
		color:#222;
		font-size:18px;
		line-height:25px;
		&:after {
			content:'';
			position:absolute;
			top:10px;
			right:0;
			width:5px;
			height:5px;
			border-left:1px solid #A38348;
			border-bottom:1px solid #A38348;
			transform:rotate(-45deg);
		}
	}
}

/**************************** section .moments ****************************/
section .moments {
	position:relative;
	overflow:hidden;
	width:1920px;
	height:872px;
	margin:0 auto;
	> div {
		position:absolute;
		top:0;
		left:50%;
		transform:translateX(-50%);
		overflow:hidden;
		width:100%;
		margin:0 auto;
		height:872px;
		p {
			color:#fff;
			font-size:80px;
			text-align:center;
			em {
				color:#F22C2D;
			}
		}
		> ul {
			position:relative;
			height:100%;
			height:100%;
			li {
				position:relative;
				flex-shrink:0;
				width:100%;
				height:100%;
				/*background:url(../images/sample_moments.png) no-repeat 50% 50%;*/
				&:nth-child(1) {
					background:url(../images/sample_moments.png) no-repeat 50% 50%;
				}
				&:nth-child(2) {
					background:#594fb4;
				}
				&:nth-child(3) {
					background:#a87933;
				}
				a {
					color:#a38348;
					font-size:12px;
				}
			}
		}
	}
}

/**************************** section .every ****************************/
section .every {
	padding:240px 0;
	dl {
		text-align:center;
		dt {
			margin-bottom:40px;
			color:#222;
			font-size:64px;
			line-height:76px;
		}
		dd {
			color:#222;
			font-size:32px;
			line-height:48px;
		}
	}
}

/**************************** section .notice ****************************/
section .notice {
	overflow:hidden;
	padding:80px 0;
	background:#FFFBF2;
	> div {
		display:flex;
		justify-content:space-between;
		align-items:center;
		width:1500px;
		margin:0 auto;
		h3 {
			color:#222;
			font-size:40px;
			line-height:40px;
		}
		a {
			position:relative;
			font-size:18px;
			color:#A38348;
			padding-right:20px;
			&:before {
				content:'';
				position:absolute;
				top:51%;
				right:0;
				width:15px;
				height:1px;
				background:#A38348;
			}
			&:after {
				content:'';
				position:absolute;
				top:36%;
				right:2px;
				width:8px;
				height:8px;
				border-right:1px solid #A38348;
				border-bottom:1px solid #A38348;
				transform:rotate(-45deg);
			}
		}
	}
	ul {
		overflow:hidden;
		width:1500px;
		margin:20px auto 0;
		li {
			display:flex;
			justify-content:space-between;
			align-items:center;
			padding:20px 16px;
			border-bottom: 1px solid #EEE6D8;
			> em {
				width:60px;
				overflow:hidden;
				margin-right:10px;
				color:#A38348;
				font-size:12px;
				white-space:nowrap;
				text-overflow:ellipsis;
			}
			a {
				display:flex;
				align-items:center;
				color:#222;
				font-size:15px;
				em {
					height:18px;
					padding:0 6px;
					margin-left:10px;
					color:#fff;
					font-size:10px;
					line-height:16px;
					background:#F22C2D;
					border-radius:9px;
				}
			}
			span {
				margin-left:auto;
				color:#A38348;
				font-size:12px;
			}
		}
	}
}

/**************************** footer ****************************/
footer {
	background:#232323;
	> div {
		width:1280px;
		padding:50px 0 56px;
		margin:0 auto;
		background:url(../images/footer_logo.png) no-repeat 0 50px;
		> div {
			display:flex;
			justify-content:space-between;
			padding-left:200px;
			margin-bottom:50px;
			> ul {
				display:flex;
				flex-wrap:wrap;
				align-content:flex-start;
				gap:0 20px;
				li:nth-child(7) {
					height:0px;
					flex-basis:100%;
				}
				a {
					color:#949494;
					font-size:14px;
					&.teacher {
						color:#A38348;
					}
					&.red {
						color:#f22c2d;
					}
				}
			}
			.family {
				position:relative;
				height:25px;
				margin-right:50px;
				border-bottom:1px solid #828282;
				button {
					position:relative;
					width:160px;
					height:20px;
					color:#999;
					font-size: 12px;
					text-align:left;
					line-height:12px;
					&:after {
						content:'';
						position:absolute;
						top:7px;
						right:1px;
						width:5px;
						height:5px;
						border-right:1px solid #828282;
						border-top:1px solid #828282;
						transform:rotate(-45deg);
					}
					&.on + ul {
						border:1px solid #828282;
						height:866px;
					}
				}
				ul {
					position:absolute;
					bottom:31px;
					left:0;
					width:100%;
					border:none;
					color:#949494;
					font-size:12px;
					background:#232323;
					text-align:left;
					height:0;
					overflow:hidden;
					transition:height .5s;
					li {
						a {
							display:block;
							color:#999;
							padding:10px 20px;
							box-sizing:border-box;
							transition:all 0.2s;
							&:hover {
								color:#fff;
								background:#323232;
								transition:all 0.2s;
							}
						}
					}
				}
			}
			.sns {
				display:flex;
				justify-content:space-between;
				gap:0 10px;
				a {
					width:16px;
					height:16px;
					text-indent:-9999em;
				}
				.insta {
					background:url(../images/icon_insta.png) no-repeat 50% 50%;
				}
				.youtube {
					background:url(../images/icon_youtube.png) no-repeat 50% 50%;
				}
				.sbot {
					background:url(../images/icon_sbot.png) no-repeat 50% 50%;
				}
			}
		}
		> ul {
			display:flex; 
			flex-wrap:wrap;
			gap:0 24px;
			padding-right:600px;
			padding-top:20px;
			line-height:20px;
			border-top:1px solid rgba(202, 200, 199, 0.1);
			li {
				position:relative;
				color:#8a8a8a;
				font-size:12px;
				&:before {
					content:'';
					position:absolute;
					top:6px;
					left:-12px;
					width:1px;
					height:10px;
					background:#8a8a8a;
				}
				&:nth-child(3n+1):before {
					display:none;
				}
			}
		}
	}
}
