/*
	zzzzzShin v1.0 | 20260824
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button, input, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
	vertical-align:top;
	font-style:normal;
	text-decoration:none;
	background:none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
select {

}
input[type=text] {

}
input[type=radio] {

}
input[type=checkbox] {

}

button {
	cursor:pointer;
}

body {
	font-family:"Noto Sans KR", '맑은고딕', sans-serif; font-weight:500; font-size:24px; color:#222; line-height:28px;
}

.blind {
	display:none;
}

#wrap {
	position:relative;
	overflow:hidden;
	width:100%;
	padding-top:100vh;
}

/**************************** header ****************************/
header {
	position:absolute;
	display:flex;
	justify-content:space-between;
	align-items:center;
	top:0;
	left:50%;
	transform:translateX(-50%);
	z-index:100;
	width:100vw;
	max-width:2560px;
	padding:100px 60px 0 60px;
}
header > a {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:60px;
	font-size:16px;
	color:#D9D9D9;
	text-align:center;
	line-height:60px;
	background:#353535;
}
header nav {
	width:710px;
}
header nav ul {
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:710px;
}
header nav ul li a {
	display:block;
	font-size:22px;
	color:#fff;
}
header > ul {
	display:flex;
	justify-content:space-around;
	align-items:center;
}
header > ul .login {
	display:block;
	width:24px;
	height:24px;
	margin-right:20px;
	text-indent:-9999px;
	background:url(../images/btn_login.png) no-repeat 50% 50%;
}
header > ul .cart {
	display:block;
	width:19px;
	height:19px;
	text-indent:-9999px;
	background:url(../images/btn_bag.png) no-repeat 50% 50%;
}
header > div {
	position:absolute;
	top:785px;
	left:50%;
	transform:translateX(-50%);
}
header > div fieldset {
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:900px;
	height:80px;
	padding:0 40px;
	border:1px solid #E3DAC8;
	border-radius:40px;
	background:rgba(0, 0, 0, 0.53);
}

header > div fieldset input[type=text] {
	width:760px;
	height:40px;
	font-size:24px;
	color:#fff;
	background:none;
	outline:none;
}
header > div fieldset input[type=text]::placeholder {
	color:rgba(255, 255, 255, .5);
}
header > div fieldset button {
	width:24px;
	height:24px;
	text-indent:-9999px;
	background:url(../images/btn_serch.png) no-repeat 50% 50%;
}
header > div ul {
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin-top:24px;
}
header > div ul a {
	display:block;
	height:42px;
	padding:0 16px;
	font-size:16px;
	line-height:40px;
	color:#fff;
	border:1px solid #5D574D;
	border-radius:21px;
	background:rgba(34, 34, 34, .5);
}
header > div ul a:before {
	content:'#';
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/**************************** .video ****************************/
.video {
	position:absolute;
	top:0;
	left:50%;
	transform:translateX(-50%);
	overflow:hidden;
	width:100vw;
	max-width:2560px;
	height:100vh;
	margin:0 auto;
	background:url(../images/sample_video.png) no-repeat 50% 50%;
	background-size:cover;
}
.video:after {
	content:'SCROLL';
	position:absolute;
	z-index:10;
	bottom:35px;
	left:50%;
	transform:translateX(-50%);
	padding-top:16px;
	color:#fff;
	font-size:16px;
	letter-spacing:20%;
	background:url(../images/icon_scroll.png) no-repeat 50% 0;
	animation: fadeIn 1s ease-in-out infinite alternate;
}
.video video {
	position:absolute;
	width:100%;
	height:100%;
	z-index:-1;
	object-fit:cover;
}
.video > div {
	position:absolute;
	padding:390px 0 0 60px;
	color:#fff;
}
.video > div dl dt {
	margin-bottom:20px;
	font-size:64px;
	line-height:64px;
}
.video > div dl dd {
	font-size:32px;
	line-height:44px;
}
.video > div ul {
	display:flex;
	align-items:center;
	gap:10px;
	margin-top:40px;
	gap:10px;
}
.video > div ul li {
	display:flex;
	justify-content:space-between;
	align-items:center;
	gap:10px;
}
.video > div ul li a {
	color:#a38348;
	font-size:12px;
}
.video > div ul li.on a {
	color:#F22C2D;
}
.video > div ul li div {
	display:none;
	position:relative;
	width:88px;
	height:4px;
	text-indent:-9999px;
	border-radius:2px;
	background:rgba(45, 45, 45, 0.3);
}
.video > div ul li div:after {
	content:'';
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:50%;
	height:100%;
	background:#F22C2E;
	border-radius:2px;
}
.video > div ul li.on div {
	display:block;
}
.video > div ul li button {
	display:none;
	width:5px;
	height:7px;
	text-indent:-9999px;
	background:url(../images/btn_video.png) no-repeat 50% 50%;
	background-size:cover;
}
.video > div ul li.on button {
	display:block;
}

/**************************** main ****************************/
main {
	position:relative;
	width:1920px;
	margin:0 auto;
}

/**************************** section .info ****************************/
main .info {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:48px 160px;
	background:#FFFBF2;
}
main .info p {
	line-height:26px;
}
main .info p a {
	color:#A8843C;
}
main .info > div {
	position:relative;
	display:flex;
	justify-content:space-between;
	align-items:center;
	gap:32px;
}
main .info > div div:first-child {
}
main .info > div div:first-child > button {
	position:relative;
	display:block;
	padding-right:16px;
	font-size:16px;
	color:#A8843C;
}
main .info > div div:first-child > button:after {
	content:'';
	position:absolute;
	top:45%;
	right:0;
	display:block;
	width:7px;
	height:7px;
	border-left:1px solid #A8843C;
	border-bottom:1px solid #A8843C;
	transform:translateY(-50%) rotate(-45deg);
}
main .info > div div:first-child ul {
	position:absolute;
	top:100%;
	left:0;
	/*display:none;*/
	width:100%;
	padding:16px 0;
	border:1px solid #E3DAC8;
	border-radius:4px;
	background:#fff;
}
main .info > div div:last-child {

}
main .info > div div:last-child button {
	position:relative;
	display:block;
	height:40px;
	padding:0 25px 0 37px;
	font-size:18px;
	color:#222;
	border:1px solid #E3DAC8;
	border-radius:20px;
	background:#EEE6D8;
}
main .info > div div:last-child button:before {
	content:'';
	position:absolute;
	top:50%;
	left:9px;
	transform:translateY(-50%);
	display:block;
	width:24px;
	height:24px;
	background:url(../images/icon_spot.png) no-repeat 50% 50%;
}
main .info > div div:last-child button:after {
	content:'';
	position:absolute;
	top:50%;
	right:14px;
	display:block;
	width:0;
	height:0;
	border-style:solid;
	border-width:0 0 7px 7px;
	border-color:transparent  transparent #A38348 transparent;
	transform:translateY(-50%) rotate(45deg);
}
main .info > div div:last-child ul {
	position:absolute;
	top:100%;
	left:0;
	/*display:none;*/
	width:100%;
	padding:16px 0;
	border:1px solid #E3DAC8;
	border-radius:4px;
	background:#fff;
}

/**************************** section .explore ****************************/
section .explore {
	position:relative;
	width:100%;
	padding:240px 160px;
}
section .explore h3 {
	margin-bottom:40px;
	font-size:72px;
	color:#000;
	font-weight:300;
	text-align:center;
	line-height:74px;
}
section .explore p {
	margin-bottom:80px;
	font-size:32px;
	color:#000;
	text-align:center;
	line-height:34px;
}
section .explore ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2px;
	grid-auto-rows: 10px;
}
section .explore ul li {
	margin: 0;
	display: grid;
	grid-template-rows: 1fr auto;
	margin-bottom: 2px;
	break-inside: avoid;
}
section .explore ul li a {
	grid-row: 1 / -1;
	grid-column: 1;
	color:white;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#ddd;
}
section .explore ul li:nth-child(1) a {
}
section .wine {
	position:relative;
	width:100%;
	height:1403px;
	padding:240px 160px;
	background:url(../images/img_wine.png) no-repeat 100% 50%;
}

/**************************** section .wine ****************************/
section .wine h3 {
	margin-bottom:16px;
	font-size:24px;
	color:#A38348;
	font-weight:400;
	line-height:26px;
}
section .wine dl {
	margin-bottom:48px;
}
section .wine dl dt {
	margin-bottom:30px;
	font-size:64px;
	color:#000;
	line-height:72px;
}
section .wine dl dd {
	font-size:32px;
	color:#000;
	font-weight:400;
	line-height:44px;
}
section .wine a {
	position:relative;
	font-size:18px;
	color:#A38348;
	padding-right:20px;
}
section .wine a:before {
	content:'';
	position:absolute;
	top:51%;
	right:0;
	width:15px;
	height:1px;
	background:#A38348;
}
section .wine a:after {
	content:'';
	position:absolute;
	top:36%;
	right:0;
	width:8px;
	height:8px;
	border-right:1px solid #A38348;
	border-bottom:1px solid #A38348;
	transform:rotate(-45deg);
}

/**************************** section .featured ****************************/
section .featured {
	padding:240px 160px;
	background:#FFFBF2;
}
section .featured h3 {
	margin-bottom:40px;
	color:#222;
	font-size:72px;
	line-height:74px;
	text-align:center;
}
section .featured p {
	margin-bottom:64px;
	color:#444;
	font-size:32px;
	line-height:34px;
	text-align:center;
}
section .featured ul {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:flex-start;
	gap:20px;
}
section .featured ul li {
	width:520px;
	height:236px;
	padding:16px 24px;
	border:1px solid #EEE6D8;
	background:#fff;
}
section .featured ul li .flag {
	display:flex;
	align-items:center;
}
section .featured ul li .flag strong {
	position:relative;
	padding-right:13px;
	font-size:14px;
	line-height:24px;
}
section .featured ul li .flag strong:before {
	content:'';
	position:absolute;
	top:50%;
	right:0;
	width:1px;
	height:12px;
	background:#E1DBD1;
	transform:translateY(-50%);
}
section .featured ul li .flag strong.wellness {
	color:#689570;
}
section .featured ul li .flag em {
	height:20px;
	padding:0 6px;
	margin-left:12px;
	color:#fff;
	font-size:10px;
	line-height:20px;
	background:#4E7256;
	border-radius:10px;
}
section .featured ul li .flag span {
	width:18px;
	height:18px;
	margin-left:auto;
	text-indent:-9999em;
	background:url(../images/icon_heart.png) no-repeat 50% 50%;
}
section .featured ul li dl {
	margin:16px 0;
}
section .featured ul li dl dt {
	color:#222;
	font-size:24px;
	line-height:29px;
}
section .featured ul li dl dd {
	margin-top:4px;
	font-size:14px;
	line-height:17px;
}
section .featured ul li .choice {
}
section .featured ul li .choice strong {
}
section .featured ul li .choice span {
}
section .featured ul li .choice a {
} 